<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Assets/Styles/estilos.css" />
    <link rel="stylesheet" href="../Assets/Styles/registro.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../Assets/Styles/login.css">
    <title>Registro</title>
  </head>
  <body>
    <header>
        <nav>
            <a href="../index.html" class="logoNav">
                <i class="fas fa-film"></i><span>CAC-Movies</span>
            </a>           
        </nav>
    </header>
    <main class="registro">
        <div class="container">
            <h3>Iniciar Sesion</h3>
            <form action method="POST" name="register" id="formNuevoRegistro">
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="text" placeholder="Apellido" name="apellido">
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Contraseña" name="clave">
                <input type="date" placeholder="dd/mm/aaaa" name="fecha">
                <select name="pais" id="pais" name="pais" placeholder="País">
                    <option value="Pais">Pais</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Chile">Chile</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Perú</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Venezuela">Venezuela</option>
                </select>
                <label>
                    <input type="checkbox" id="check" name="TYC"/> 
                        Acepto términos y condiciones</label>

                <input class="ingresar" type="submit" value="Registrarse" >
            </form>
            <a href="./register.html">Necesitas ayuda?</a>
        </div>
    </main>
    <footer>
      <nav>
          <ul class="listaNav">
              <li class="itemNav"><a href="#" class="linkNav">Términos y condiciones</a></li>
              <li class="itemNav"><a href="#" class="linkNav">Preguntas frecuentes</a></li>
              <li class="itemNav"><a href="#" class="linkNav">Ayuda</a></li>
              <li class="itemNav"><a href="./administrador.html" class="linkNav administradorUsuarios">Administrador Usuarios</a></li>
          </ul>
          <a href="#main" class="flechaArriba">
              <img src="../Assets/img/flecha-hacia-arriba.png" alt="Ir hacia arriba">
          </a>
      </nav>
  </footer>
    <script src="../Scripts/post_usuario.js"></script>
  </body>
</html>
