* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --bgprimary: #9f3647;
  --bgsecundary: #181419;
  --textcolor: #ffffff;
}

header {
  background-color: var(--bgprimary);
  color: var(--textcolor);
  position: sticky;
  z-index: 10;
  height: 10vh;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;

    a.logoNav {
      text-decoration: none;
      color: var(--textcolor);
      font-weight: 700;
      font-size: 1.2rem;
    }

    ul.listaNav {
      list-style: none;
      display: flex;
      /* align-items: center; */
      li.itemNav {
        margin: 0px 10px;
        a.linkNav {
            text-decoration: none;
            color: var(--textcolor);
            font-weight: 700;
            font-size: 1.1rem;
            padding: 0.5rem 0.5rem;
        }
        .iniciarSesion {
            background-color: var(--bgsecundary);
            border-radius: 5px;
        }
      }
    }
  }
}

main{
  section.intro {
    background: linear-gradient(0, #0000008a, #0000008a), url(../img/banner-bg.jpg);
    color: var(--textcolor);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
      h1{
        font-weight: 700;
        font-size: 3.2rem;
        margin-bottom: 1rem;
      }
      h2{
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      a {
        text-decoration: none;
        background-color: var(--bgprimary);
        color: var(--textcolor);
        padding: 1rem 1.5rem;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: 600;
      }
  }
}
