* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  --bgprimary: #9f3647;
  --bgsecundary: #181419;
  --textcolor: #ffffff;
}

body {
  color: var(--textcolor);
  background-color: var(--bgsecundary);
}

header {
  background-color: var(--bgprimary);
  color: var(--textcolor);
  position: sticky;
  z-index: 10;
  height: 10vh;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;

    a.logoNav {
      text-decoration: none;
      color: var(--textcolor);
      font-weight: 700;
      font-size: 1.2rem;
    }

    ul.listaNav {
      list-style: none;
      display: flex;
      /* align-items: center; */
      li.itemNav {
        margin: 0px 10px;
        a.linkNav {
          text-decoration: none;
          color: var(--textcolor);
          font-weight: 700;
          font-size: 1.1rem;
          padding: 0.5rem 0.5rem;
        }
        .iniciarSesion {
          background-color: var(--bgsecundary);
          border-radius: 5px;
        }
      }
    }
  }
}

footer {
  background-color: var(--bgprimary);
  color: var(--textcolor);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .listaNav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .itemNav {
      margin-right: 20px;
      .linkNav {
        text-decoration: none;
        color: var(--textcolor);
        font-weight: 700;
        font-size: 1.3rem;
      }
      .administradorPeliculas {
        background-color: var(--bgsecundary);
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    }
  }
  .flechaArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
}

main {
  section.intro {
    background: linear-gradient(0, #0000008a, #0000008a),
      url(../img/banner-bg.jpg);
    color: var(--textcolor);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
      font-weight: 700;
      font-size: 3.2rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-weight: 400;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    a {
      text-decoration: none;
      background-color: var(--bgprimary);
      color: var(--textcolor);
      padding: 1rem 1.5rem;
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  section.busqueda {
    background-color: var(--bgsecundary);
    color: var(--textcolor);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      #inputBuscar {
        border: 2px solid white;
        border-radius: 25px;
        color: black;
        font-size: 1rem;
        height: 50px;
        margin: 20px 0px;
        padding: 0px 20px;
        width: 400px;
        outline: none;
      }
      #botonBuscar {
        background-color: var(--bgprimary);
        color: var(--textcolor);
        height: 50px;
        margin: 20px 10px;
        padding: 0px 20px;
        border-radius: 25px;
        font-size: 1rem;
        font-weight: 700;
        border: 2px solid white;
      }
    }
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    div.hr {
      margin-top: 10vh;
      height: 0px;
      border: 1px solid var(--bgprimary);
      width: 80%;
    }
  }
  section.tendencias {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h3 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .peliculas {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      a {
        text-decoration: none;
        color: var(--textcolor);
        .pelicula {
          width: 200px;
          height: 300px;
          border-radius: 10px;
          transition: all 0.5s ease;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
          .titulo {
            z-index: 2;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            max-width: 20rem;
            width: 100%;
            transform: translateY(-50%) translateX(-50%);
            h4 {
              font-size: 1.6rem;
              font-weight: bold;
              opacity: 0;
              margin-bottom: 0.5rem;
              letter-spacing: 0.1rem;
              transition: opacity 0.5s ease-in-out;
            }
          }
          &:hover {
            box-shadow: 0 0 30px var(--bgprimary);
            transform: scale(0.9);
          }
          &:hover .titulo {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(20px);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover h4 {
            width: 100%;
            padding: 0.5rem;
            opacity: 1;
          }
        }
      }
    }
  }
}
